/* 
    Document   : style
    Created on : Oct 15, 2012, 1:14:26 PM
    Author     : noumantayyab
    Description:
        Purpose of the stylesheet follows.
*/
html, body {
    /*     background-color: #eee !important;*/
    /*     min-width:1210px; */
}

.container {
    zoom : 1;
    margin-top: 70px;
    /*    min-width:1170px !important; */
}
.custom-nav-inner{
    background:url(/images/nav-back.png) transparent repeat-x;
    border: none;
    border-radius: 0;
}
.custom-nav-ul{
    float: right !important;
    margin: 0 !important;
}
.custom-nav-ul li a{
    padding: 7px 10px 6px !important;
    margin-top: 10px !important;
    font-weight: bold;
    border-radius: 2px 2px 0px 0px;

}

/* The white background content wrapper */
.container > .content {
    background-color: #fff;
    padding: 20px 0px;
    /*				margin: 0 -20px;*/

}
.check-all{
    margin-top: 5px !important;
    margin-left: 14px !important;
}
.custom-nav{
    text-align: right;
    padding:2px 0px;
    background-color: #000000;
    height: 15px;

}
.custom-nav a{
    color: #999;
    cursor: pointer; 
}
#search_bar, #search_bar_val{
    background-color: #f5f5f5;
    color: #333333;
    font-size: 11px;

}
.input-img{
    background-color: #FFFFFF !important;
    border: 1px solid #CCCCCC;
    padding:5px 5px 3px 0px;
    border-radius:3px;
    margin-bottom:10px;
    float:left;
    width:206px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.input-img input{width:190px;border:none;width:178px;box-shadow:none;padding:0 0 0 5px;margin:0;color:#999}
.input-search-img{background:url(../images/glyphicons-halflings.png) -49px 1px no-repeat;
                  height:15px;
                  width:15px;
                  float:right;
                  margin-top:3px;
                  cursor:pointer;
}
.btn-img{
    background-color: #FFFFFF !important;
    border: 1px solid #CCCCCC;
    padding:5px 7px 3px 10px;
    border-radius:5px;
    margin-bottom:10px;
    float:left;
    width: 190px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    margin: 2px 5px;

}
.btn-close-img{
    background:url(../images/glyphicons-halflings.png) -168px -96px no-repeat;
    height:15px;
    width:15px;
    float:right;
    margin-top:3px;
    cursor:pointer;
    margin-left: 5px;
}
.cls_radio{
    margin: 5px !important;
}
.compose label{
    width: 165px !important;
    padding-right: 15px !important;
}
#message_type_error{
    color: red;
    padding-left: 10px;
    display: none;
}
#message_station_error{
    color: red;
    padding-left: 10px;
    display: none;
}
.message{
    color:#FFF !important;
    background:#1797D2 !important;
    margin: -5px 0 0 !important;
}
.message-alert{
    background:#DD2226;
    margin: 0px 3px;
}
.table-freeze-custom {

    margin-bottom: 18px;
    /*    border-collapse: collapse;*/
}

.table-freeze-custom th,
.table-freeze-custom td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.table-freeze-custom th {
    font-weight: bold;
}

.table-freeze-custom thead th {
    vertical-align: bottom;
}

.table-freeze-custom caption + thead tr:first-child th,
.table-freeze-custom caption + thead tr:first-child td,
.table-freeze-custom colgroup + thead tr:first-child th,
.table-freeze-custom colgroup + thead tr:first-child td,
.table-freeze-custom.table-freeze-custom thead:first-child tr:first-child td {
    border-top: 0;
}

.table-station tbody + tbody {
    border-top: 2px solid #dddddd;
}
.filter-fileds{
    padding: 5px 0px 0px 10px

}

#new_user input{
    margin: 0 8px 0 0 !important;
    float:left;
}
#edit_from input{
    margin: 0 8px 0 0 !important;
    float:left;
}
._label{
    text-align: right !important;
    width: 90px;
}
.btn-custom{
    float: none !important;
}
.tracking_label{
    text-align: right !important;
    width: 135px;
}
.form-custom input{
    margin: 0 8px 0 0 !important;
    float:left;
}


.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:auto }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

.my-navbar{
    background: #343434; /* Old browsers */
    background: -moz-linear-gradient(top,  #343434 0%, #343434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(100%,#343434)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #343434 0%,#343434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #343434 0%,#343434 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #343434 0%,#343434 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #343434 0%,#343434 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
    height: 30px;

}
.my-navbar div{
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 8px 0px 0px 8px;


}
.asset-stats{
    min-height: 80px;
    background-color: #dee2eb;
    margin: 5px 0px 20px 0px;
    border: 1px solid #dee2eb;


}
.assets-sum{
    font-size: 61pt;font-weight: bold;float: left;color: #333333;padding-top: 28px;height: 50px;padding-right: 2px;
}
.assets-subdetail{
    font-size: 13pt;
    font-weight: bold;
    padding-top: 55px;
	
}
.report-tab{
    font-size: 17px;
    margin: 8px 0px 0px 7px;
}
.report-tab i{
    margin-right: 5px;
    margin-top: 2px;
}
.report-tab-detail{
    margin: 10px;
}
.report-main{
    margin-top: 10px;
    /*    width: 376px !important;*/
}
.report-main a{
    color: black;
    text-decoration: none;
}
.report-popup{
    margin-top: 10px;
}
.form-row{margin:15px 0 0 0 !important;}
.form-label{text-align:right;padding:25px 0 0}
#search-bar{float:right;}
.input{width:800px;}
.form-1{margin:0 !important;}
/*.table{margin-top:15px}*/
/*.table th{font-size:15px}*/
.disabled-field{background:#D6D5D4;width:600px;float:left;padding:10px;border-radius:3px;margin-bottom:10px}
.button-submit{float:left;}.black-btn{padding:5px}

.station-detail{
    color: white;
    margin: 10px 0px;
    font-size: 22px;
    line-height: 30px;
    padding-left: 5px;

}
.message-type_error{
    margin: 0px 5px;
    color: red;
}
.players{
    background:#D6D5D4;
    width:900px;
    height:300px;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
}
.my-navbar {margin-top:15px;}
.button-after-player {margin:15px 0 0 !important;}
.my-navbar {margin:15px 0 0 !important;}
.sidebar{background:#F8F9F9;}
.sidebar .my-navbar{background:#1797D2;margin-top:0 !important}

.search_keys{
    float: left;
    width: 170px;

}
ul.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0 !important;
    visibility: hidden;
    margin-top: -1px;

    z-index: 1001;
}

ul.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

ul.dropdown-menu .sub-menu-caret {

    font-size: 9px;
}
.facet-search a{
    color: #333333;

}
.facet-search .btn {
    font-size: 11px;
}

#limit_field_dropdown a{
    text-decoration: none;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('/images/tableSorter/bg.gif') no-repeat center right; }
/*table.table thead .sorting { background: url('/images/sort_both.png') no-repeat center right; }*/
table.table thead .sorting_asc { background: url('/images/tableSorter/asc.gif') no-repeat center right; }
table.table thead .sorting_desc { background: url('/images/tableSorter/desc.gif') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/images/sort_desc_disabled.png') no-repeat center right; }
.drap-drop{
    cursor: move;
}
.dataTables_processing {
    position: fixed;
    top: 160px;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    border: 1px solid #f0c36d;
    text-align: center;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 0;
    background-color: #f9edbe;
}
#simple_view .dataTables_scrollHead{ height:35px;}
#datepicker-calendar{
    position: relative;
    z-index: 999999;
    top: -5px;
    left: 0;
    overflow: hidden;
    width: 497px;
    height:153px;
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    border-radius: 0 5px 5px 5px;
    display:none;
    padding:10px 0 0 10px;
}
#datepicker-calendar div.datepicker {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
}

.detail-menu{
    margin-left: 0px;
    background-color: #ebebeb;
    width: 240px;
    float:left;
    position: absolute;
}
.detail-sidebar{
    padding: 5px;
    position:relative;
    border-radius:0px;
    width:230px;
	border-bottom:1px solid #DDD;
}
.detail-sidebar:hover:after{ 
    content:'';
	display: block;
	position: absolute;
	top: 17%;
	left: 100%;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #3fa9fa;
	border-style: solid;
	border-width: 9px 0px 9px 7px;
}
.detail-sidebar:hover{
    background: #3fa9fa;

}
.detail-sidebar:hover a{

    color: white;
    text-decoration: none;
}
.detail-sidebar:hover i{
    background-image: url("/images/glyphicons-halflings-white.png");
}
.detail-sidebar.active:after{ 
    content:'';
    display: block;
	position: absolute;
	top: 17%;
	left: 100%;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #3fa9fa;
	border-style: solid;
	border-width: 9px 0px 9px 7px;
}

.detail-sidebar.active{
    background: #3fa9fa;

}
.detail-sidebar.active a{

    color: white;
    text-decoration: none;
}
.detail-sidebar.active i{
    background-image: url("/images/glyphicons-halflings-white.png");
}
.detail-sidebar-ins{
    padding: 5px;
    position:relative;
    border-radius:0px;
    width:230px;
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;

}
.detail-sidebar-ins:hover:after{ 
    content:'';
    display:block;
    position:absolute;
    top:42%;
    left:100%; 
    width:0;
    height:0;
    border-color: transparent transparent transparent #3fa9fa;
    border-style: solid; 
    border-width:  10px 0px 10px 8px;
}
.detail-sidebar-ins:hover{
    background: #3fa9fa;
    color: white;

}
.detail-sidebar-ins:hover a{

    color: white;
    text-decoration: none;
}
.detail-sidebar-ins:hover i{
    background-image: url("/images/glyphicons-halflings-white.png");
}
.detail-sidebar-ins.active:after{ 
    content:'';
    display:block;
    position:absolute;
    top:42%;
    left:100%; 
    width:0;
    height:0;
    border-color: transparent transparent transparent #3fa9fa;
    border-style: solid; 
    border-width:  10px 0px 10px 8px;
}
.detail-sidebar-ins.active{
    background: #3fa9fa;
    color: white;

}
.detail-sidebar-ins.active a{
    color: white;
    text-decoration: none;
}
.detail-sidebar-ins.active i{
    background-image: url("/images/glyphicons-halflings-white.png");
}
.menu-anchor{
    color: black;
}

.menu-img{
    float: left;
    margin: 2px 5px 0px 0px;
}

.container-sidebar{padding:0 10px;color:#919091;font-size:12px;padding-bottom:10px}
.container-sidebar h4{color:#1797D2;font-size:16px;float:left;margin-top:15px;width:100%}

.record-detail-page{
    width: 130px;
    text-align: right;
}
.ins_detail{
	width: 145px !important; 
}
.nomination-container{
    float: right;
    margin-right: 20px;
    width: 170px;
    background-color: #ebebeb;
}
.nomination_status{
	color:#008cf8;
}
.asset-menu{
    background-color: whiteSmoke;
    margin-bottom: 10px;
}
.asset-submenu{
    padding: 5px;
    position:relative;
    border-radius:0px;
    width:263px;

}
.asset-submenu a{
    margin-left: 5px;
}
.asset-submenu:hover{
    background: #1797D2;
}
.asset-submenu:hover a{
    color: white;
    text-decoration: none;

}
.asset-submenu:hover:after{ 
    content:'';
    display:block;
    position:absolute;
    top:0px;
    left:100%; 
    width:0;
    height:0;
    border-color: transparent transparent transparent #1797D2;
    border-style: solid; 
    border-width:  14px 0px 14px 9px;
}
.asset-submenu.active{
    background: #1797D2;
}
.asset-submenu.active a{
    color: white;
    text-decoration: none;

}
.asset-submenu.active:after{ 
    content:'';
    display:block;
    position:absolute;
    top:0px;
    left:100%; 
    width:0;
    height:0;
    border-color: transparent transparent transparent #1797D2;
    border-style: solid; 
    border-width:  14px 0px 14px 9px;
}
.record-detail-table p{
    margin: 0 0 3px;
}
.label_star{
    color:red;
}
.dashboard-nav{
    list-style: none;
    background:url(/images/sub-nav-bg.png) transparent repeat-x;
    margin-left: 0;
    margin-bottom: 10px;
    height: 22px;
    padding-left: 15px;
    padding-top: 5px;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 9pt;
    letter-spacing: 1px;
}
.records-nav{
    list-style: none;
    background:url(/images/sub-nav-bg.png) transparent repeat-x;
    margin-left: 0;
    margin-bottom: 10px;
    height: 28px;
}
.records-nav li{
    float: left;
	border-right: 1px solid #34383e;

}
.records-nav li a{
    padding: 6px 11px;
    line-height: 28px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background: url(/images/nav-back.png) transparent repeat-x;
}
.records-nav li.active a{
    background: url(/images/1234.png) transparent repeat-x;
}
.records-nav-sub{
    margin-bottom: 0px;
}
.records-nav-sub a{
    color:black;
}
.filter_title{
    background:url(/images/sub-nav-bg.png) transparent repeat-x;
    color: white;
    padding: 3px 10px;
    font-weight: normal;
}
.field-filters{
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
}
#listing_table th{
    background: #EBEBEB;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 0px;
    display: block;
    background-color: #f8f8f8;
}

::-webkit-scrollbar-track-piece  {
    background-color: #f8f8f8;
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #c5c5c5;

    -webkit-border-radius: 0px;
}
::-webkit-scrollbar-thumb:horizontal {
    height: 50px;
    background-color: #c5c5c5;

    -webkit-border-radius: 0px;
}
::-webkit-scrollbar-thumb:vertical:hover {
    height: 50px;
    background-color: #999;

    -webkit-border-radius: 0px;
}
::-webkit-scrollbar-thumb:horizontal:hover {
    height: 50px;
    background-color: #999;

    -webkit-border-radius: 0px;
}
::-webkit-scrollbar-corner:vertical{
    width: 0px;
    height: 0px;
    background-color: #f8f8f8;
}
::-webkit-scrollbar-corner:horizontal{
    width: 0px;
    height: 0px;
    background-color: #f8f8f8;
}


.custom-dropdown-menu{
    max-height: 120px;
    max-width: 218px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

#add_date_btn{
    margin-top: 10px;
}
#form_search .caret{
    opacity: 1;
}
#show_hide_li li{
    /*				max-width: 220px;*/
    /*				word-break: keep-all;*/
    white-space: nowrap;
}
.edit_form_div{
    background: #DDD;

    float: left;
    width: 500px;
}
.ins_edit_div{
	width: 485px !important;
}
.edit_form_div div {
	padding: 5px 20px;
}
.edit_form_div div p:first-of-type{
	font-weight: bold;
}
.remove_element{
    float: left;
    margin-left: -5px;
    cursor: pointer;
}
.add-new-element{
    background: #515151;
    color: #ffffff;
    font-size: 9px;
    font-weight: bold;
    padding: 3px 10px;
    float: left;
    border-radius: 3px;
    cursor: pointer;
}
.error-div{
	background: #c65f5a;
	color: white;
}
.error-div span{
	color: white !important;
}
.sidebar-fields{
	padding: 10px;

}
.sidebar-fields label{
	font-weight: bold;

}
.div-separater{
	margin: 10px;
}