/* 
    Document   : style
    Created on : Oct 15, 2012, 1:14:26 PM
    Author     : noumantayyab
    Description:
        Purpose of the stylesheet follows.
*/

.check-all{
    margin-top: 30px !important;
    margin-left: 10px !important;
}