/* 
    Document   : style
    Created on : Oct 15, 2012, 1:14:26 PM
    Author     : noumantayyab
    Description:
        Purpose of the stylesheet follows.
*/
html, body {
    /*     background-color: #eee !important;*/
    /*     min-width:1210px; */
}
.navbar-inner{padding-left: 20px !important;padding-right: 20px !important;}
.container {
    zoom : 1;
    margin-top: 70px;
    /*    min-width:1170px !important; */
}

/* The white background content wrapper */
.container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.check-all{
    margin-top: 30px !important;
    margin-left: 14px !important;
}
.custom-nav{
    text-align: right;
    /*    padding-right: 240px;*/
    background-color: #ffffff;
    height: 25px;
    padding-top: 15px;
}
.custom-nav a{
    color: #999;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer; 
}
#search_bar{
    background-color: #f5f5f5;

    padding:15px;
    color: #999;
}
.input-img{
    background-color: #FFFFFF !important;
    border: 1px solid #CCCCCC;
    padding:5px 5px 3px 0px;
    border-radius:3px;
    margin-bottom:10px;
    float:left;
    width:206px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.input-img input{width:190px;border:none;width:178px;box-shadow:none;padding:0 0 0 5px;margin:0;color:#999}
.input-search-img{background:url(../images/glyphicons-halflings.png) -49px 1px no-repeat;
                  height:15px;
                  width:15px;
                  float:right;
                  margin-top:3px;
                  cursor:pointer;
}
.btn-img{
    background-color: #FFFFFF !important;
    border: 1px solid #CCCCCC;
    padding:5px 7px 3px 10px;
    /*    border-radius:20px;*/
    margin-bottom:10px;
    float:left;
    /*    min-width:60px;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    margin: 2px 5px;

}
.btn-close-img{
    background:url(../images/glyphicons-halflings.png) -168px -96px no-repeat;
    height:15px;
    width:15px;
    float:right;
    margin-top:3px;
    cursor:pointer;
    margin-left: 5px;
}
.cls_radio{
    margin: 5px !important;
}
.compose label{
    width: 165px !important;
    padding-right: 15px !important;
}
#message_type_error{
    color: red;
    padding-left: 10px;
    display: none;
}
#message_station_error{
    color: red;
    padding-left: 10px;
    display: none;
}
.message{
    color:#FFF !important;
    background:#1797D2 !important;
    margin: -5px 0 0 !important;
}
.message-alert{
    background:#DD2226;
    float:right;
    margin:-14px -23px 0 0;
}
.table-freeze-custom {

    margin-bottom: 18px;
    /*    border-collapse: collapse;*/
}

.table-freeze-custom th,
.table-freeze-custom td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.table-freeze-custom th {
    font-weight: bold;
}

.table-freeze-custom thead th {
    vertical-align: bottom;
}

.table-freeze-custom caption + thead tr:first-child th,
.table-freeze-custom caption + thead tr:first-child td,
.table-freeze-custom colgroup + thead tr:first-child th,
.table-freeze-custom colgroup + thead tr:first-child td,
.table-freeze-custom.table-freeze-custom thead:first-child tr:first-child td {
    border-top: 0;
}

.table-station tbody + tbody {
    border-top: 2px solid #dddddd;
}
.filter-fileds{
    margin: 10px 0px;
}
#new_user input{
    margin: 0 8px 0 0 !important;
    float:left;
}
#edit_from input{
    margin: 0 8px 0 0 !important;
    float:left;
}
._label{
    text-align: right !important;
    width: 90px;
}
.btn-custom{
    float: none !important;
}
.tracking_label{
    text-align: right !important;
    width: 135px;
}
.form-custom input{
    margin: 0 8px 0 0 !important;
    float:left;
}


.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:auto }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

.my-navbar{
    background: #343434; /* Old browsers */
    background: -moz-linear-gradient(top,  #343434 0%, #343434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(100%,#343434)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #343434 0%,#343434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #343434 0%,#343434 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #343434 0%,#343434 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #343434 0%,#343434 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
    height: 30px;

}
.my-navbar div{
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 8px 0px 0px 8px;


}
.asset-stats{
    min-height: 50px;
    background-color: whiteSmoke;
    margin: 5px 0px 10px 0px;
    border: 1px solid #DDD;


}
.assets-sum{
    font-size: 40px;padding-top: 16px;font-weight: bold;float: left;
}
.assets-subdetail{
    font-size: 20px;
    font-weight: bold;
    padding-top: 23px;
}
.report-tab{
    font-size: 17px;
    margin: 8px 0px 0px 7px;
}
.report-tab i{
    margin-right: 5px;
    margin-top: 2px;
}
.report-tab-detail{
    margin: 10px;
}
.report-main{
    margin-top: 10px;
    width: 376px !important;
}
.report-main a{
    color: black;
    text-decoration: none;
}
.report-popup{
    margin-top: 10px;
}
.form-row{margin:15px 0 0 0 !important;}
.form-label{text-align:right;padding:25px 0 0}
#search-bar{float:right;}
.input{width:800px;}
.form-1{margin:0 !important;}
/*.table{margin-top:15px}*/
/*.table th{font-size:15px}*/
.disabled-field{background:#D6D5D4;width:650px;float:left;padding:10px;border-radius:3px;margin-bottom:10px}
.button-submit{float:left;}.black-btn{padding:5px}
.btn-group{margin:0 0 10px 0 !important}
.station-detail{
    color: white;
    margin: 10px 0px;
    font-size: 22px;
    line-height: 30px;
    padding-left: 5px;

}
.message-type_error{
    margin: 0px 5px;
    color: red;
}
.players{
    background:#D6D5D4;
    width:900px;
    height:300px;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
}
.my-navbar {margin-top:15px;}
.button-after-player {margin:15px 0 0 !important;}
.my-navbar {margin:15px 0 0 !important;}
.sidebar{background:#F8F9F9;}
.sidebar .my-navbar{background:#1797D2;margin-top:0 !important}

.search_keys{
    padding-right: 10px;

}
ul.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0 !important;
    visibility: hidden;
    margin-top: -1px;

    z-index: 1001;
}

ul.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

ul.dropdown-menu .sub-menu-caret {

    font-size: 9px;
}
.facet-search a{
    color: black;
    text-decoration: underline;
}
.facet-search b{
    color: black;
}
#limit_field_dropdown a{
    text-decoration: none;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/images/sort_desc_disabled.png') no-repeat center right; }
.drap-drop{
    cursor: move;
}
#simple_view .dataTables_scrollHead{ height:35px;}
#datepicker-calendar{
    position: relative;
    z-index: 999999;
    top: -5px;
    left: 0;
    overflow: hidden;
    width: 497px;
    height:153px;
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    border-radius: 0 5px 5px 5px;
    display:none;
    padding:10px 0 0 10px;
}
#datepicker-calendar div.datepicker {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
}

.detail-menu{
				margin-left: 0px;
				background-color: whiteSmoke;
				padding: 15px;
}
.detail-sidebar:hover{
				background: #1797D2;
}
.detail-sidebar a:hover{
				color: white;
}
.detail-sidebar a i:hover{
			background-image: url("/images/glyphicons-halflings-white.png");
}
.menu-anchor{
				color: black;
}

.menu-img{
				float: left;
				margin: 2px 5px 0px 0px;
}

.container-sidebar{padding:0 10px;color:#919091;font-size:12px;padding-bottom:10px}
.container-sidebar h4{color:#1797D2;font-size:16px;float:left;margin-top:15px;width:100%}
/*.container-sidebar{
				width:260px;
				min-height:144px; min height of DIV should be set to at least 2x the width of the arrow
				background: #F8F9F9;
				color:#ADD8E6;
				padding:5px;
				position:relative;
				word-wrap:break-word;
				-moz-border-radius:5px; add some nice CSS3 round corners
				-webkit-border-radius:5px;
				border-radius:0px;
				margin-bottom:2em;
}


.container-sidebar:active{
				background: #ADD8E6;
				color: white;
}
.container-sidebar:active:after{ arrow added to rightarrowdiv DIV
				content:'';
				display:block;
				position:absolute;
				top:0px;
				left:100%; should be set to 100% 
				width:0;
				height:0;
				border-color: transparent transparent transparent #1797D2; border color should be same as div div background color
				border-style: solid; 
				border-width:  73px 0px 82px 12px;
} */