/*table.tablesorter .header {
    background-image: url(/images/tableSorter/bg.gif);
    background-repeat: no-repeat;
    height: auto;
}
table.tablesorter .headerSortUp {
    background-image: url(/images/tableSorter/asc.gif);
    background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
    background-image: url(/images/tableSorter/desc.gif);
    background-repeat: no-repeat;
}*/

/* tables */
table.tablesorter {
/*	font-family:arial;*/
/*	background-color: #CDCDCD;*/
	margin:10px 0pt 15px;
	font-size: 12px;
/*	width: 100%;*/
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
/*	background-color: #ADC095;*/
/*	border: 1px solid #FFF;*/
/*	font-size: 12px;*/
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(/images/tableSorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
/*	color: #3D3D3D;*/
	padding: 4px;
/*	background-color: #FFF;*/
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
/*	background-color:#F0F0F6;*/
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/tableSorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/tableSorter/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
/*background-color: #8dbdd8;*/
}

table.tablesorter thead tr .menuHighlighter {
	/*color: #FFFFFF;*/
/*	font-size: 9pt;*/
	/*background-color: #8dbdd8;*/
}
.yellow{ background-color:#FF6 !important;}
.gray{background-color:#efefef !important}