index.php
application/config/config.php
application/config/database.php
cache/*
logs/*
*/logs/*
nbproject/
.DS_Store
assets/*
PIDs
OpenRefine
application/libraries/Zend/Gdata_mod
cronlog
mcache
nd
uploads
config/ci.yml
