
#containermenu {

  height: 2em;
  padding: 8px 0 0;
  margin:0 auto;
  width:75%;
  min-width:1000px;
}

#main-menu {
    bottom: 0;
    /*left: 36px;*/
    margin-right: 0px;
    position: relative;
    
}
#main-menu ul {
    margin: 0;
    padding: 0;
}
#main-menu li {
    float: left;
    list-style-type: none;
    margin: 0 2px 0 0;
    padding: 0;
    white-space: nowrap;
}
#main-menu li a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
}

#main-menu li a:hover {
    background: none repeat scroll 0 0 #759FCF;
    color: #FFFFFF;
}
#main-menu li a.selected, #main-menu li a.selected:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #555555;
  
}



#main-menu li a {
    font-weight: 500;
    padding: 6px 8px 8px;
}
#main-menu li a:hover {
    background: #FFFFFF;
	border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    color: #008CF8;
    text-decoration: none;
	font-weight: 500;
}
#main-menu li a.selected, #main-menu li a.selected:hover {
    background-color: #FFFFFF;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    color: #008CF8;
	font-weight: 500;
}