
a img { border: none; }

/*, iframe { border: none; }*/
   
   
/* Lists
------------------------------*/
   
ul, ol, dl, li, dt, dd {
    margin: 0;
    padding: 0;
    }
   
/* Links
------------------------------*/


a:visited {}
a:hover {}
a:active {}

/* Forms
------------------------------*/

form, fieldset {
    margin: 0;
    padding: 0;
    }
   
fieldset { border: 1px solid #000; }

legend {
    padding: 0;
    color: #000;
    }

input, textarea, select {
    margin-left: 2px;
    margin-right: 2px;

    padding: 1px;
    font-size: 100%;
    font-family: inherit;
	size:80;
	vertical-align: middle;
    }
   
select { padding: 0; }
